{
  "machine": {
    "gpu": 1,
    "cpu": 8000,
    "ram": 8000
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
            "blender", 
            "--background",
            "-b",
            "/app/lilytree.blend", 
            "--python", 
            "/app/lilytree.py", 
            "--",
            {{ if .ETH_Address }} {{ .ETH_Address }} {{else}} "0xE422729513e2dB165D2f017CEa761FC555CF220A" {{ end }}
        ],
        "Image": "ghcr.io/rhochmayr/lilytree-blender:latest"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": "1",
        "cpu": "8",
        "memory": "8Gb"
      },
      "Timeout": 1800,
      "Verifier": "Noop",
      "Outputs": [
        {
          "Name": "outputs",
          "StorageSource": "IPFS",
          "Path": "/outputs"
        }
      ]
    }
  }
}